<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Tour Booking Invoice</title>
    </head>
    <body>
        <h1>Invoice For Booking</h1>
        <p>Payment ID: <%= paymentId %></p>
        <p>Amount Payed: <%= payedAmount %></p>
        <p>Thank you for your booking!</p>
        <a href="<%= pdfLink %>">Download PDF Invoice</a>
    </body>
</html>
