<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>PH Tour Verification OTP</title>
    </head>
    <body>
        <h2>Hello <%= name%></h2>
        <p>Your PH Tour Verification OTP is <strong><%= otp%></strong></p>
        <p>This otp will expire in 3 minutes</p>
    </body>
</html>
